@mixin flexTwoSide() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin primaryButtonStyle() {
    background-color: blue; color: white;
}

@mixin secondaryButtonStyle(){
    background-color: gray; color: white;
}

@mixin gridColumnSetup() {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
}