@mixin flexTwoSide() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin primaryButtonStyle() {
    background-color: blue; color: white;
}

@mixin secondaryButtonStyle(){
    background-color: gray; color: white;
}

@mixin gridColumnSetup($colum) {
    display: grid;
    grid-template-columns: repeat($colum, 1fr);
}