.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__card {
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        text-align: center;

        &__title {
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;
        }

        &__input {
            width: 100%;
            margin-bottom: 15px;
        }

        &__buton {
            width: 100%;
            padding: 10px;
            font-size: 1rem;
            font-weight: bold;
            border: none;
            border-radius: 6px;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            transition: background 0.3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }

        &__login {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        &__error {
            color: red;
            text-align: center;
            margin-top: 10px;
        }
    }
}

