<div class="container">
    <div class="container__greeting">
        <span class="container__greeting__welcome">Welcome
            <span class="container__greeting__welcome__username">
                {{username}}
            </span>
        </span>
        <app-button label="Add new Project" type="secondary" (onClick)="openDialog('project')"></app-button>
    </div>
    <mat-list role="list" class="container__list">
        <mat-list-item appHighlight *ngFor="let project of projects" class="container__list__item" (click)="clickProject(project.id)">
            <div class="container__list__item__delete">
                <span>{{project.name}}</span>
                <button mat-icon-button color="warn" (click)="deleteProject($event,project.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-list-item>
    </mat-list>
</div>